<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Products App
  </h1>
</div>
<h2>Products app allows you to search by department, description or ID!</h2>
<input type="search" (input)=search($event.target.value) />
<table>
  <td>External ID</td>
  <td>Description</td>
  <td>Department Name</td>
  <td>Last Sold Date</td>
  <td>Shelf Life</td>
  <td>Price</td>
  <td>Unit</td>
  <td>Cost</td>
  <td>xFor</td>
  <tr *ngFor="let product of products$ | async">
    <td>{{product.externalId}}</td>
    <td>{{product.description}}</td>
    <td>{{product.department.name}}</td>
    <td>{{product.lastSoldDate}}</td>
    <td>{{product.shelfLife}}</td>
    <td>{{product.price}}</td>
    <td>{{product.unit}}</td>
    <td>{{product.cost}}</td>
    <td>{{product.xfor}}</td>
  </tr>
</table>
<footer>
  Sean Campbell 2018
</footer>